body{
    font-family: Montserrat;
    color: #0E185F;
}
#title{
    background-color: #16C79A;
    color: #0E185F;
}
h1{
    font-family: Montserrat;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
}

h2{
    font-weight: 600;
    font-size: 3rem;

    line-height: 1.5;
}

h3{
    font-weight: 700;

}
p{
    padding: 0 20%;
}
.container-fluid{
    padding: 3% 15%;
    
}

/* nabigation bar  */

.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    font-family: Ubuntu;
    padding: 0 10px;
    font-size: 1.1rem;
    font-weight: lighter;
}
.navbar-brand{
    font-size: 300%;
    font-weight: bold;
    font-family: Ubuntu;
   
}

/* download button */

.download-button{
    margin: 10% 3% 5% 0;
}

/* image  */
.bull-image{
    transform: rotate(10deg);
    
}

/* features */

#features{
    text-align: center;
    padding: 7% 10%;
   

}
p{
    margin: 20px;
}
.featurebox{
    margin-left: 10%;
    margin-right: 10%;
}
.fa-solid{
    color: #4E944F;
    padding: 5%;
}
.fa-solid:hover{
    color: #16C79A;
}

/* <!-- Testimonials --> */


#testimonials{
    
    text-align: center;
    background-color: #16C79A;
}
#testimonial-carousel{
    padding: 7% 15%;
}

.testimonials-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

/* press  */

#press{
    background-color: #16C79A;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */

#pricing {
    margin: 100px;
    text-align: center;
}

.pricing-cloumn{
    padding: 3% 2%;
}

#cta{
   
    padding: 7% 15%;
    background-color: #16C79A;
    text-align: center;

}
/* footer */
#footer{
    text-align: center;
    padding: 7% 20%;
   
}
@media (max-width: 600px) {
    #title{
        text-align: center;
    }
    .bull-image{
        align-self: auto;
    }
}

.fa-brands{
    margin: 20px;
}










